<div id="background">
    <div id="panelTop">
        <label id="title">TASKS</label>
        <button class="fila" id="btnNewTask">NEW TASK</button>
    </div>
    <div id="panelMid">
      <div id="tableMid">
        <div id="headTable">
            <div class="fila" id="headFila">
                <div class="columna" id="hId"><label>ID</label></div>
                <div class="columna" id="hTitulo"><label>TITULO</label></div>
                <div class="columna" id="hFecha"><label>FECHA</label></div>
                <div class="columna" id="hDescripcion"><label>DESCRIPCION</label></div>
                <div class="columna" id="hPrioridad"><label>PRIORIDAD</label></div>
                <div class="columna" id="hStatus"><label>STATUS</label></div>
                <div class="columna" id="hSubTareas"><label></label></div>
                <div class="columna" id="hOpciones"><label></label></div>
            </div>
        </div>
        <div id="bodyTable">
            <div class="fila" id="bodyFila">
                <div class="columna" id="bId">ID</div>
                <div class="columna" id="bTitulo">TITULO</div>
                <div class="columna" id="bFecha">FECHA</div>
                <div class="columna" id="bDescripcion">DESCRIPCION</div>
                <div class="columna" id="bPrioridad">PRIORIDAD</div>
                <div class="columna" id="bStatus">STATUS</div>
                <div class="columna" id="hSubTareas">
                   <button class="fila" id="btnSubTareas">SUB-TAREAS</button>
                </div>
                <div class="columna" id="bOpciones">
                    <button class="fila" id="btnEditar">EDITAR</button>
                    <button class="fila" id="btnEliminar">ELIMINAR</button>
                </div>
            </div>
        
        </div>
      </div>
    </div>
</div>
