<div id="background">
    <div id="panelTop">
        <label id="title">TASKS</label>
        <button class="fila" id="btnNewTask" (click)="nuevaTarea()">NEW TASK</button>
    </div>
    <div id="panelMid">
      <div id="tableMid">
        <div id="headTable">
            <div class="fila" id="headFila">
                <div class="columna" id="hId"><label>ID</label></div>
                <div class="columna" id="hTitulo"><label>TITULO</label></div>
                <div class="columna" id="hFecha"><label>FECHA</label></div>
                <div class="columna" id="hDescripcion"><label>DESCRIPCION</label></div>
                <div class="columna" id="hPrioridad"><label>PRIORIDAD</label></div>
                <div class="columna" id="hStatus"><label>STATUS</label></div>
                <div class="columna" id="hSubTareas"><label></label></div>
                <div class="columna" id="hOpciones"><label></label></div>
            </div>
        </div>
        <div id="bodyTable">
            <tr *ngFor="let task of TASKS" class="fila" id="bodyFila">
                <div class="columna" id="bId">{{task.id}}</div>
                <div class="columna" id="bTitulo">{{task.titulo}}</div>
                <div class="columna" id="bFecha">{{task.fechaCreacion}}</div>
                <div class="columna" id="bDescripcion">{{task.descripcion}}</div>
                <div class="columna" id="bPrioridad">{{task.nivelPrioridad}}</div>
                <div class="columna" id="bStatus">{{task.status}}</div>
                <div class="columna" id="hSubTareas">
                   <button class="fila" id="btnSubTareas">SUB-TAREAS</button>
                </div>
                <div class="columna" id="bOpciones">
                    <button class="fila" id="btnEditar" (click)="editarTarea(task)">EDITAR</button>
                    <button class="fila" id="btnEliminar" (click)="borrarTarea(task.id)">ELIMINAR</button>
                </div>
            </tr>
        </div>
      </div>
    </div>
</div>
<!--WindowNewTask-->
<app-window-newtask *ngIf="taskEdit.visible" [taskEdit]="taskEdit" (cerrarVentana)="cerrarVentana($event)" (actualizarLista)="cargarTasks()"></app-window-newtask>
